{% extends 'base_layout.html' %}
{% block content %}
    <style>
        #all_films {
          font-family: Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        #all_films td, #all_films th {
          border: 1px solid #ddd;
          padding: 8px;
        }

        #all_films tr:nth-child(even){background-color: #f2f2f2;}

        #all_films tr:hover {background-color: #ddd;}

        #all_films th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
          background-color: #04AA6D;
          color: white;
        }
    </style>
    <h1>Films</h1>
    <p><a href="/">Back to homepage.</a></p>
    <div class="films">
        <table id="all_films">
            <tr>
                <th>Name</th>
                <th>Release date</th>
                <th>Genre</th>
                <th>Rating</th>
                <th>Type</th>
                <th>Delete</th>
            </tr>
            {% for entry in films_data_1 %}
            <tr>
                <td>{{entry.film_name}}</td>
                <td>{{entry.film_release_date.year}}</td>
                <td>{{entry.get_film_genre}}</td>
                <td>{{entry.get_film_rating_display}}</td>
                <td>{{entry.get_film_type_display}}</td>
                <td><a href="/films/delete/{{entry.id}}/">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}